<div class="footer">
	<small>
			&copy; MyRecipes 2017. <a href="https://www.udemy.com/pro-rubyonrails/">The Professional Ruby on Rails Developer Course on Udemy. </a>
			Developer <a href="https://github.com/enriqueparrac">Enrique Parra</a>
		</small>
</div>